@import '../variables';

.lists {
  background-color: $white;
  color: $black;
  transition: .3s;

  &:hover {
    background-color: rgb(231, 231, 231);
  }

  &.active {
    background-color: rgb(231, 231, 231);
  }
}