@import '../variables';

.topicPath {
  width: 100%;
  padding: 10px 60px;
  border-bottom: 1px $border-black solid;

  ul {
    display: flex;
    color: $black-light;
    font-size: 0.75em;

    li {
      margin: 0 10px 0 0;
    }

    span {
      margin: 0 10px 0 0;
      width: 12px;
      display: inline-block;

      img {
        width: 100%;
      }
    }
  }
}